.calendar {
  position: absolute;
  padding: .8em .4em .4em;
  width: 18em;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px .5em 0px rgba(0, 0, 0, 0.2);
  z-index: 9;
}

.calendar .head {
  text-align: center;
  overflow: hidden;
}

.calendar .head .fa {
  float: left;
  line-height: 2;
  padding: 0 .4em;
  cursor: pointer;
}

.calendar .fa.disabled {
  color: #ccc;
  cursor: not-allowed;
}

.calendar .head .fa-chevron-right {
  float: right;
}

.calendar select {
  width: 5em;
  height: 2em;
}

.calendar .month-select {
  width: 3.57em;
  margin-left: 0.4em;
}

.calendar .day-wrap .day, .calendar .week-wrap .week {
  float: left;
  width: 2.42em;
  height: 2.42em;
  line-height: 2.42;
  text-align: center;
}

.calendar .day-wrap .day:not(.place) {
  color: #2196f3;
  cursor: pointer;
}

.calendar .day-wrap .day.inrange {
  background: #e7f4fd;
}

.calendar .day-wrap .day:not(.place):hover {
  background: #a0c9f9;
  color: #fff;
}

.calendar .day-wrap .day.active {
  background: #2196f3;
  color: #fff;
}

.calendar .day-wrap .day.disabled {
  color: #ccc;
  cursor: not-allowed;
}
.calendar .day-wrap .day.disabled:hover {
  background: #fff;
  color: #ccc;
  cursor: not-allowed;
}
