.daterange {
  width: 200px;
}

.daterange input[type=text]:read-only, .daterange input[type=text][readonly=readonly]{
  border: 1px solid #e9e9e9;
  background-color: #fff;
  color: #666;
}

.daterange .calendar-wrap{
  position: absolute;
  padding: 0.6em;
  border: 1px solid #bbb;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 8px 0px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.daterange .calendar {
  position: relative;
  display: inline-block;
  box-shadow: none;
  border: none;
  height: 286px;
}

.daterange .range-str {
  padding: 1em 0 .2em;
  text-align: center;
}

.daterange .shortcut {
  margin-bottom: .6em;
  text-align: center;
  background: #e7f4fd;
}

.daterange .shortcut span {
  display: inline-block;
  color: #218de6;
  padding: .4em 1em;
  cursor: pointer;
}

.daterange .operations {
  position: absolute;
  right: .6em;
  bottom: .6em;
}
