@import '../base/variables.css';
@import '../base/common.css';

:root {
    /* 三角形 */
    --triangle: {
        width: 0;
        height: 0;
        border-style: solid;
    };
    /* * 上三角 */
    --up-triangle: {
        @apply --triangle;
        border-width: 0 8px 6px 8px;
        border-color: transparent transparent var(--primary-color) transparent;
    };
    /* * 下三角 */
    --down-triangle: {
        @apply --triangle;
        border-width: 6px 4px 0 4px;
        border-color: var(--primary-color) transparent transparent transparent;
    };
}

/* 头部 */
#hd {
    padding: 0 30px;
    background: var(--head-bg-color);
    color: color(var(--head-bg-color) lightness(55%));
    height: 50px;
    line-height: 50px;
    position: relative;
    & .logo {
        float: left;
        margin-right: 50px;
        & a {
            background: url(http://p2.qhmsg.com/d/inn/20f52ec0/logo.png) no-repeat left center;
            background-size: auto 18px;
            display: block;
            width: 206px;
            height: 50px;
            text-indent: -100%;
            overflow: hidden;
        }
    }
    & a:hover {
        color: #fff;
    }
}

/* 用户信息 */
/* 登录用户 */

#hd .signed {
    float: right;
    text-align: right;
    position: relative;

    & span {
        display: inline-block;
        padding: 0 20px;
        cursor: pointer;
        &:after {
            content: "";
            margin: 0 0 0 5px;
            @apply --down-triangle;
            vertical-align: middle;
            display: inline-block;
        }
    }

    &:hover {
        background: color(var(--head-bg-color) blackness(8%));
        color: white;

        & span:before {
            content: "";
            bottom: 0;
            @apply --up-triangle;
            @apply --h-center;
        }

        & .user-menu {
            display: block;
        }
    }

    & .user-menu {
        display: none;
        position: absolute;
        right: 0;
        z-index: 1;
        overflow: hidden;
        padding: 0 15px;
        background: #fff;
        border: 1px solid #dfe5eb;
        border-top: none;
        box-shadow: 0px 0px 3px #ebebeb;
        width: 100%;
        min-width: 110px;
        text-align: center;

        & li{
            line-height: 1;
            border-bottom: 1px solid #dfe5eb;
            white-space: nowrap;

            & a {
                display: inline-block;
                width: 100%;
                padding: 15px 0;
                color: #7a8b99;
                &:hover {
                    color: #7a8b99;
                }
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }
}

/* 未登录用户 */

.unsigned {
    float: right;
    & a {
        display: inline-block;
        height: 30px;
        line-height: 30px;
        color: #fff;
        padding: 0 15px;
        border: 1px solid #fff;
        border-radius: 15px;
    }
}

