/************************************************
 * Modal相关
 ***********************************************/

.modal {
    position: fixed;
    z-index: 101;
    background: white;
    top: 50%;
    left: 50%;
    box-shadow: 0 0 3px #b3b3b3;
    min-width: 200px;
}
.modal .modal-hd {
    border-bottom: 1px solid #e8e8e8;
    height: 40px;
    line-height: 40px;
    position: relative;
    padding: 0 15px;
    font-size: 1.1em;
    font-weight: bold;
    background: #eee;
}
.modal .modal-hd .sub-title {
  font-size: 12px;
  color: #999;
}
.modal .modal-hd .close {
    font-size: 16px;
    right: 15px;
    position: absolute;
    top: 12px;
    text-decoration: none;
}
.modal .modal-bd .modal-content {
    padding: 30px;
    min-width: 500px;
}
.modal .modal-bd .btn-wrap {
    background: #eee;
    padding: 10px;
    text-align: right;
}
.modal-mask {
    background: black;
    opacity: 0.6;
    filter: alpha(opacity = 60);
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* common modal : alert, confirm, warn*/
.public-modal {
    box-shadow: 0 0 16px #333;
    border-color: #333;
    z-index: 102;
}
.public-modal .modal-bd {
    padding: 0;
}
.public-modal .msg-wrap {
    padding: 2em;
    min-width: 15em;
    span {
        max-width: 40em;
    }
}
.public-modal .btn-wrap {
    text-align: center;
    padding: 1em 2em;
    background: #eee;
}
.public-modal .icon {
    font-size: 16px;
}
.public-modal .icon-warn {
    color: #ff4b21;
}
.public-modal .icon-confirm {
    color: #FF9708;
}

.modal-type-warn .icon-warn, .modal-type-confirm .icon-confirm {
    display: inline-block;
}

.modal-type-alert .modal-cancel, .modal-type-warn .modal-cancel {
    display: none;
}
