@import '../base/variables.css';
@import '../base/common.css';

.data-table {
    width: 100%;
    font-size: 12px;
    text-align: left;
    margin: 1em 0;
    border: 1px solid #eee;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    & th, td {
        padding: 1em 0.67em;
        white-space: nowrap;
        max-width: 600px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    & thead {
        & th {
            padding: 0.9em 0.67em;
            background: color(var(--paper-color) blackness(10%));
            color: #666;
            font-weight: bold;
        }
    }
    & tbody {
        & td {
            padding: 8px 8px;
            border-bottom: 1px solid #e9e9e9;
        }
        & td.td-break{
            white-space: inherit;
            word-break: break-all;
        }
        & tr:hover {
            background: #EAF3FD;
        }

        & tr:nth-child(even) {
            background: var(--paper-color);
        }
    }
    & tfoot {
        font-weight: bold;
    }
    & .nowrap {
        white-space: nowrap;
    }
    & a {
        & color: var(--link-color);
        & margin-left: 1em;
        &:first-child {
            margin-left: 0;
        }
        &:hover {
            color: var(--hover-link-color);
        }
    }
}
